.logo {
  max-height: 25px;
  padding-bottom: 5px;
}

.navbar-brand {
  line-height: 25px;
}

.navbar-text .copyright {
  font-size: small;
  vertical-align: sub;
}

.navbar-text .attribution {
  font-size: x-small;
  vertical-align: sub;
}