/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
 .circle-container {
	position: relative;
	width: 70em;
	height: 70em;
	border: dashed 1px;
	border-radius: 50%;
	margin: 0 auto 0;
}

.circle-ring {
	display: block;
	position: absolute;
	border: dashed 0.4px darkgray;
	border-radius: 50%;
}
.circle-ring-label {
	display: block;
	overflow: hidden;
	position: absolute;
	color: darkgray;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
}